[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
faker = "*"
psycopg2 = "*"
mysqlclient = "*"
pytz = "*"
sphinxsearch = "*"
sphinxapi-py3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
